:root {
  --primary-color: #fff;
  --secondary-color: #3e4756;
  --button-color: #ca353a;
  --main-font: "Encode Sans", sans-serif;
  --secondary-font: "Work Sans", sans-serif;

  --link: uppercase;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-color);
  color: var(--third-color);
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: solid 1px var(--secondary-color);
  height: 10vh;
}
.page-header__item {
  flex: 0 1 200px;
}

.page-header__item a {
  font-family: var(--third-font);
  color: var(--third-color);
  font-size: 0.9rem;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1rem;
}

#logo {
  transform: translateY(-20%);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: var(--link);
}

a:hover,
a:focus {
  opacity: 0.5;
}

h1 {
  line-height: 5rem;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 2rem;

  margin-bottom: 2rem;
}

.profile {
  height: vh;
  display: flex;
  font-family: var(--secondary-font);
  color: var(--third-color);
  max-width: 800px;
  margin: 1rem auto;
  text-align: left;
  margin-bottom: 3rem;
}

.profile__portrait {
  margin-top: 4rem;
  height: auto;
  min-width: 10%;
  max-width: 80%;
  margin-right: 5rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media all and (max-width: 750px) {
  .profile {
    flex-direction: column;
    max-width: 800px;
  }

  .profile__portrait {
    max-height: 40%;
  }

  .profile h1 {
    max-width: 40%;
  }
}

.profile-content h1 {
  border: 1px var(--secondary-color) solid;
}

.profile span {
  font-size: 2rem;
  font-family: var(--main-font);
  color: var(--third-color);
}

.profile a {
  text-decoration: none;
}

.page-footer {
  
  display: flex;
  flex-direction: column;
  width: 100%;
  clear: both;
  text-align: center;
  color: var(--secondary-color);
}

.page-footer p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.social-media a {
  padding: 0rem 0.2rem;
  margin-top: auto;
}

button,
.button {
  margin: 3rem 0rem;
  color: var(--primary-color);
  background: var(--button-color);
  font-family: var(--main-font);
  text-decoration: none;
  transition: 0.2s opacity;

  text-decoration: none;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  text-transform: var(--link);
}

button {
  margin-top: 3rem;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  opacity: 0.6;
  cursor: pointer;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about h1 {
  margin-top: 4rem;
  line-height: 5rem;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-content {
  margin-left: 10rem;
  padding: 1rem;
  width: 50%;
  text-align: left;
  line-height: 1.8rem;
}

.about-content a {
  text-align: left;
  padding: 0.7rem 1rem;
  margin: 1.5rem 0rem;
}

.about-content h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.about-content span {
  border: 1px solid black;
  font-weight: bolder;
}

.about-content p {
  padding: 1rem 0rem;
  font-size: 1rem;
}

@media all and (max-width: 950px) {
  .about-container {
    flex-direction: column;
  }
}

.list-item {
  list-style: none;
}

svg {
  height: 60vh;
  width: 80%;
}

#birds {
  animation: 4s bird infinite alternate linear;
}

@keyframes bird {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(20px);
  }
}

#clouds {
  animation: 35s cloud infinite alternate linear;
}

@keyframes cloud {
  from {
    transform: translateX(350px);
  }

  to {
    transform: translateX(20px);
  }
}

#mountain {
  animation: 35s mountain infinite alternate linear;
}

@keyframes mountain {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0px);
  }
}

section {
  text-align: center;
  height: 100vh;
}

section h1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0rem 5rem;
}

.grid__item {
  text-align: center;
  border: 2px solid var(--secondary-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--p4-color);
}

.grid__item h2 {
  font-weight: bolder;
  font-size: 1.3rem;
}

.grid__item p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.grid__item a {
  filter: invert(0.25);
}

.grid__item:last-child {
  grid-column: span 2;
}

.grid__item:nth-child(3) {
  grid-row: span 2;
}

.grid__item:nth-child(4) {
  grid-row: span 2;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.contact {
  height: 50vh;
  width: 100%;
  text-align: center;
}

.contact h1 {
  line-height: 5rem;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

.contact-content {
  
  margin: 5rem 5rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1rem;
  gap: 4rem;
}

@media all and (max-width: 750px) {
  .contact-content {
    font-size: 0.5rem;
    flex-direction: column;
  }


}

@media all and (max-width: 500px) {
  .contact-content {
    font-size: 0.2rem;
  
  }

  
}

@media all and (max-width: 1000px) {
  .contact-content {
    font-size: 0.6rem;
  }
}

.contact-info {
  padding:1rem;
  background-color: var(--secondary-color);
  line-height: 2rem;
  width: 30%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-right: 5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  
}



.contact-info a {
  color: var(--primary-color);
  font-size:0.7rem;
  
}

.contact-form {
  width: 80%;
  text-align: left;
}

input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

input,
textarea {
  border: 1px solid var(--secondary-color);
  resize: none;
  color: var(--secondary-color);
  width: 80%;
  border-radius: 10px;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

input[type="submit"] {
  border-radius: 5px;
  margin-top: 1.2rem;
  background-color: var(--primary-color);
  padding: 0.7rem 0.5rem;
  width: 7rem;
  text-transform: uppercase;
  border: 1px solid var(--secondary-color);
  transition: 0.2s opacity;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: var(--secondary-font);
}

input[type="submit"]:hover {
  opacity: 0.8;
}
