/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Encode Sans", sans-serif;
  background-color: #fff;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: solid 1px #3e4756;
  height: 10vh;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item a {
  font-family: undefined;
  color: undefined;
  font-size: 0.9rem;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1rem;
}

#logo {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

a {
  color: #3e4756;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover,
a:focus {
  opacity: 0.5;
}

h1 {
  line-height: 5rem;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

h2 {
  font-weight: 400;
  font-size: 2rem;

  margin-bottom: 2rem;
}

.profile {
  height: vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Work Sans", sans-serif;
  color: undefined;
  max-width: 800px;
  margin: 1rem auto;
  text-align: left;
  margin-bottom: 3rem;
}

.profile__portrait {
  margin-top: 4rem;
  height: auto;
  min-width: 10%;
  max-width: 80%;
  margin-right: 5rem;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media all and (max-width: 750px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 800px;
  }

  .profile__portrait {
    max-height: 40%;
  }

  .profile h1 {
    max-width: 40%;
  }
}

.profile-content h1 {
  border: 1px #3e4756 solid;
}

.profile span {
  font-size: 2rem;
  font-family: "Encode Sans", sans-serif;
  color: undefined;
}

.profile a {
  text-decoration: none;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  clear: both;
  text-align: center;
  color: #3e4756;
}

.page-footer p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.social-media a {
  padding: 0rem 0.2rem;
  margin-top: auto;
}

button {
  margin: 3rem 0rem;
  color: #fff;
  background: #ca353a;
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;

  text-decoration: none;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  text-transform: uppercase;
}

.button {
  margin: 3rem 0rem;
  color: #fff;
  background: #ca353a;
  font-family: "Encode Sans", sans-serif;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;

  text-decoration: none;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  text-transform: uppercase;
}

button {
  margin-top: 3rem;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  opacity: 0.6;
  cursor: pointer;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about h1 {
  margin-top: 4rem;
  line-height: 5rem;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-content {
  margin-left: 10rem;
  padding: 1rem;
  width: 50%;
  text-align: left;
  line-height: 1.8rem;
}

.about-content a {
  text-align: left;
  padding: 0.7rem 1rem;
  margin: 1.5rem 0rem;
}

.about-content h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.about-content span {
  border: 1px solid black;
  font-weight: bolder;
}

.about-content p {
  padding: 1rem 0rem;
  font-size: 1rem;
}

@media all and (max-width: 950px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list-item {
  list-style: none;
}

svg {
  height: 60vh;
  width: 80%;
}

#birds {
  -webkit-animation: 4s bird infinite alternate linear;
          animation: 4s bird infinite alternate linear;
}

@-webkit-keyframes bird {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes bird {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

#clouds {
  -webkit-animation: 35s cloud infinite alternate linear;
          animation: 35s cloud infinite alternate linear;
}

@-webkit-keyframes cloud {
  from {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }

  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes cloud {
  from {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }

  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

#mountain {
  -webkit-animation: 35s mountain infinite alternate linear;
          animation: 35s mountain infinite alternate linear;
}

@-webkit-keyframes mountain {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes mountain {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

section {
  text-align: center;
  height: 100vh;
}

section h1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-bottom: 4rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0rem 5rem;
}

.grid__item {
  text-align: center;
  border: 2px solid #3e4756;
  padding: 1rem 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.grid__item h2 {
  font-weight: bolder;
  font-size: 1.3rem;
}

.grid__item p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.grid__item a {
  -webkit-filter: invert(0.25);
          filter: invert(0.25);
}

.grid__item:last-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.grid__item:nth-child(3) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.grid__item:nth-child(4) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.contact {
  height: 50vh;
  width: 100%;
  text-align: center;
}

.contact h1 {
  line-height: 5rem;
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-bottom: 3rem;
}

.contact-content {
  margin: 5rem 5rem;
  line-height: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1rem;
  gap: 4rem;
}

@media all and (max-width: 750px) {
  .contact-content {
    font-size: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 500px) {
  .contact-content {
    font-size: 0.2rem;
  }
}

@media all and (max-width: 1000px) {
  .contact-content {
    font-size: 0.6rem;
  }
}

.contact-info {
  padding: 2.5rem 1rem;
  background-color: #3e4756;
  line-height: 2rem;
  width: 30%;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin-right: 5rem;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
}

.contact-info a {
  color: #fff;
  font-size: 0.7rem;
}

.contact-form {
  width: 80%;
  text-align: left;
}

input {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

input {
  border: 1px solid #3e4756;
  resize: none;
  color: #3e4756;
  width: 80%;
  border-radius: 10px;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

textarea {
  border: 1px solid #3e4756;
  resize: none;
  color: #3e4756;
  width: 80%;
  border-radius: 10px;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

input[type="submit"] {
  border-radius: 5px;
  margin-top: 1.2rem;
  background-color: #fff;
  padding: 0.7rem 0.5rem;
  width: 7rem;
  text-transform: uppercase;
  border: 1px solid #3e4756;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: "Work Sans", sans-serif;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
